@import "index";
$Dark-Blue: hsl(233, 26%, 24%);
$Lime-Green: hsl(136, 65%, 51%);
$Bright-Cyan: hsl(192, 70%, 51%);

$Grayish-Blue: hsl(233, 8%, 62%);
$Light-Grayish-Blue: hsl(220, 16%, 96%);
$Very-Light-Gray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

body {
  position: relative;
  min-height: 100svh;
  font-family: 'Public Sans', sans-serif;
  .header {
    z-index: 100;
    background: $White;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.25rem 1.5rem;
    transition: .3s ease;
    @media (min-width: 64rem) {
      padding: 1.15rem 11.25%;
    }
    &.scrolled {
      background: $Dark-Blue;
      padding: 1.5rem 1.25rem;
      box-shadow: 0px 10px 10px 10px rgba($color: #000000, $alpha: .5);
      @media (min-width: 64rem) {
        padding: 1.5rem 10%;
      }
      .menu__btn {
        filter: invert(100%); 
      }
      .header__container {
        .list {
          .list__item {
            .nav__links {
              color: $White;
              &:hover {
                color: $Lime-Green;
              }
            }
          }
        }
      }
    }
    .header__container {
      @include flex__JSB;
      @media (min-width: 64rem) {
        align-items: center;
      }
      nav {
        @media (min-width: 64rem) {
          flex: 1;
          display: flex;
          align-items: center;
        }
      }
      .menu__btn {
        width: 1.5rem;
        height: 0.7rem;
        background-position: center;
        background: url(./images/icon-hamburger.svg) no-repeat;
        transition: .4s ease;
        @media (min-width: 64rem) {
          display: none;
        }
        &.close {
        background: url(./images/icon-close.svg) no-repeat;
        background-position: center;
        }
      }
      .list {
        padding-block: 1.5rem;
        display: grid;
        place-items: center;
        position: fixed;
        top: 5rem;
        left: 1.5rem;
        right: 1.5rem;
        border-radius: .5rem;
        background-color: $White;
        min-height: 16.5rem;
        min-width: 20.5rem;
        translate: 0 -150%;
        opacity: 0;
        transition: .4s ease;
        @media (min-width: 64rem) {
          all: unset;
          flex: 1;
          list-style: none;
          @include flex__AC__JC;
          gap: 2rem;
        }
        &.show {
        opacity: 1;
        translate: 0 0;
        }
        .list__item {
          .nav__links {
            color: $Dark-Blue;
            @media (min-width: 64rem) {
              color: $Grayish-Blue;
              font-weight: 400;
              position: relative;
              &:hover {
                color: $Dark-Blue;
                &::before {
                  content: '';
                  position: absolute;
                  bottom: -2rem;
                  width: 100%;
                  height: 4px;
                  background: linear-gradient(to right, $Lime-Green, $Bright-Cyan);
                }
              }
            }
          }
        }
      }
      .invite__btn {
        display: none;
        @media (min-width: 64rem) {
          display: block;
          @include request__button;
          padding-block: .9rem;
        }
      }
    }
  }
  .overlay {
    z-index: 1;
    position: fixed;
    inset: 0;
    background: rgba($color: #000000, $alpha: .3);
    transition: .4 ease;
  }
  main {
    .hero__section {
      @media (min-width: 64rem) {
        display: flex;
        margin-top: 5.035rem;
        min-height: 41.125rem;
        z-index: 1;
      }
      .hero__illustration {
        margin-top: 3.75rem;
        min-height: 17.75rem;
        background: url(./images/bg-intro-mobile.svg) no-repeat, $Very-Light-Gray;
        background-position: center;
        position: relative;
        @media (min-width: 64rem) {
          order: 2;
          margin-top: unset;
          min-height: unset;
          flex: 1;
          background: $Very-Light-Gray;
          &::after {
            content: "";
            position: absolute;
            height: 100%;
            background-image: url(./images/bg-intro-desktop.svg);
            background-repeat: no-repeat;
            background-position: center bottom;
            width: 100%;
            background-size: 150%;
            background-position: -10% 75%;
        }
        }
        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background: url(./images/image-mockups.png) no-repeat;
          background-position: center bottom;
          background-size: 87%;
          @media (min-width: 64rem) {
            height: 150%;
            z-index: 2;
            background-position: top -125% right -155%;
            background-size: 90%;
          }
        }
      }

    .hero__text {
      background: $Very-Light-Gray;
      padding: 3rem 1.5rem 5.7rem;
      display: grid;
      gap: 1.5rem;
      text-align: center;
      place-items: center;
      @media (min-width: 64rem) {
        place-content: center start;
        padding-left: 10rem;
        text-align: start;
        gap: 2rem;
        width: 40%;
      }
      h1 {
        color: $Dark-Blue;
        font-size: 2.3rem;
        font-weight: 400;
        @media (min-width: 64rem) {
          font-size: 2.7rem;
        }
      }
      p {
        font-size: .9rem;
        color: $Grayish-Blue;
        margin-bottom: .5rem;
        @media (min-width: 64rem) {
          line-height: 1.5;
          font-size: .898rem;
        }
      }
      a {
        @include request__button;
        @media (min-width: 64rem) {
          justify-self: start;
        }
      }
    }
  }
  .features__section {
    background-color: $Light-Grayish-Blue;
    padding: 4.25rem 1.5rem;
    text-align: center;
    display: grid;
    gap: 3.75rem;
    @media (min-width: 64rem) {
      text-align: start;
      padding-inline: 10rem;
      padding-block: 6.75rem;
      gap: 4.5rem;
    }
    .top {
      display: grid;
      gap: 1.5rem;
      @media (min-width: 64rem) {
        gap: 2rem;
      }
      .feature__heading {
        font-weight: 400;
        color: $Dark-Blue;
        font-size: 2rem;
        @media (min-width: 64rem) {
          font-size: 2.1rem;
        }
      }
      p {
        color: $Grayish-Blue;
        font-size: .9rem;
        line-height: 1.5;
        @media (min-width: 64rem) {
          font-size: 1rem;
          width: 55%;
        }
      }
    }
    .bottom {
      display: grid;
      gap: 2.25rem;
      @media (min-width: 64rem) {
        grid-template-columns: repeat(4, 1fr);
      }
      .feature {
        display: grid;
        place-items: center;
        gap: 1.75rem;
        @media (min-width: 64rem) {
        gap: 2.75rem;
        }
        img {
          width: 4.5rem;
          height: 4.5rem;
          @media (min-width: 64rem) {
            justify-self: start;
          }
        }
        .feature__description {
          display: grid;
          gap: 1.5rem;
          @media (min-width: 64rem) {
            gap: 2rem;
            }
          h3 {
            color: $Dark-Blue;
            font-weight: 400;
          }
          p {
            font-size: .91rem;
            color: $Grayish-Blue;
            line-height: 1.4;
            @media (min-width: 64rem) {
              font-size: .874rem;
              line-height: 1.5;
            }
          }
        }
      }
    }
  }
  .article__section {
    background-color: $Very-Light-Gray;
    display: grid;
    gap: 2.25rem;
    padding: 5.875rem 1.4rem 5.25rem;
    @media (min-width: 64rem) {
      padding: 4.8rem 10rem;
      gap: 2.5rem;
    }
    h2 {
      text-align: center;
      color: $Dark-Blue;
      font-weight: 400;
      @media (min-width: 64rem) {
        text-align: start;
      }
    }
    .articles__container {
      display: grid;
      gap: 1.375rem;
      @media (min-width: 64rem) {
        grid-template-columns: repeat(4, 1fr);
      }
      article {
        display: grid;
        gap: 1.75rem;
        border-radius: .3rem;
        background: $White;
        overflow: hidden;
        padding-bottom: 2.75rem;
        @media (min-width: 64rem) {
          scale: 1;
          transition: 0.4s ease;
          &:hover {
            scale: 1.05;
          }
        }
        .article__image {
          min-height: 12.5rem;
          background: url(./images/image-currency.jpg) no-repeat;
          background-position: center;
          background-size: cover;
          &.second {
            background: url(./images/image-restaurant.jpg) no-repeat;
            background-position: center;
            background-size: cover;
          }
          &.third {
            background: url(./images/image-plane.jpg) no-repeat;
            background-position: center;
            background-size: cover;
          }
          &.fourth {
            background: url(./images/image-confetti.jpg) no-repeat;
            background-position: center;
            background-size: cover;
          }
        }
        .article__text {
          padding: 0 1.875rem;
          display: grid;
          gap: 0.875rem;
          cite {
            font-style: normal;
            font-size: .5rem;
            color: $Grayish-Blue;
            @media (min-width: 64rem) {
             font-size: .7rem;
            }
          }
          h3 {
            font-size: 1rem;
            color: $Dark-Blue;
            font-weight: 400;
            cursor: pointer;
            &:hover {
              color: $Lime-Green;
            }
            @media (min-width: 64rem) {
             font-size: .9rem;
            }
          }
          p {
            color: $Grayish-Blue;
            font-size: .8rem;
            line-height: 1.3;
            @media (min-width: 64rem) {
             font-size: .85rem;
            }
          }
        }
      }
    }
  }
  }
  footer {
    background: $Dark-Blue;
    min-height: 31.875rem;
    display: grid;
    color: $Grayish-Blue;
    place-items: center;
    padding-top: 2.375rem;
    padding-bottom: 2.75rem;
    @media (min-width: 64rem) {
      min-height: unset;
      padding-inline: 10rem;
      padding-block: 3rem;
      grid-template-columns: repeat(3,1fr);
    }
    .top {
      display: grid;
      place-items: center;
      gap: 2rem;
    }
    .bottom {
      display: grid;
      place-items: center;
      gap: 1.5rem;
    }
    .social__links {
      display: flex;
      gap: 1rem;
      svg {
        width: 1.563rem;
        height: 1.563rem;
        color: $White;
        &:hover {
          color: $Lime-Green;
        }
      }
    }
    .footer__links {
      display: grid;
      place-items: center;
      gap: 1rem;
      @media (min-width: 64rem) {
        grid-template-columns: repeat(2, 1fr);
      }
      li {
        a {
          color: $White;
          &:hover {
            color: $Lime-Green;
          }
        }
      }
    }
    .invite__btn {
      @include request__button;
      padding-block: .9rem;
    }
  }
}
